<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Bunnings WishList">


	<test name="WishList">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="bunningsWishList.testCases.TC_BunningsWishList" />
		</classes>

	</test>

</suite>